<% 
	mini ||= false
	if mini		
		if task.feature
			title ||= ""
			title +=  'Feature: ' + task.feature.summary 
			title += "</br>"
		end
		if task.details.present?
			title ||= ""
			title +=  'Details: ' + task.details
			title += "</br>"
		end  
		if task.notes.present?
			title ||= ""
			title +=  'Notes: ' + task.notes
			title += "</br>"
		end
		if task.planned_hours > 0
			title ||= ""
			title +=  'Planned Hours: ' + task.planned_hours.to_s
			title += "</br>"
		end
		if task.actual_hours > 0
			title ||= ""
			title +=  'Actual Hours: ' + task.actual_hours.to_s
			title += "</br>"
		end
	end 
%>
<tr id="task_<%= task.id%>" title="<%= title %>">
	<td><%= link_to task.summary, task %></td>
	<td class="task_<%= underscore(task.status) %>"><%= task.status %></td>
	<td><%= task.task_type %></td>
	<td><%= link_to task.user.first_name, task.user if task.user %></td>
	
	<% unless mini %>
	<td><%= link_to task.feature.summary, task.feature if task.feature %></td>
	<td><%= task.planned_hours %></td>
	<td><%= task.actual_hours %></td>		
	<td><%= display_date_time task.updated_at %></td>
	<% end %>
	<td class="center"> 
		<% if can?(:manage, task) %>
			<%= link_to 'Completed', task_path(task, "task[status]"=>Task::TASK_COMPLETED, mini:mini),  
				:method=>:patch, :remote=>true, :class=>"btn btn-mini btn-success" if ["Done", "Not Started", "Dead"].index(task.status) == nil %>
				
			<%= link_to 'Started', task_path(task, "task[status]"=>Task::TASK_INPROGRESS, mini:mini),  
				:method=>:patch, :remote=>true, :class=>"btn btn-mini btn-success" if ["Not Started"].index(task.status) %>
				
			<%= link_to 'Edit', edit_task_path(task), :class=>"btn btn-mini btn-primary" %>
			<%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } , :remote=>true, :class=>"btn btn-mini btn-danger"%>
		<% end %> 
	</td>
	
</tr>