<%
	if params[:sprint_id].present?
		@sprint = Sprint.find(params[:sprint_id])
		tasks = @sprint.tasks
		project = @sprint.project
	elsif params[:feature_id].present?
		@feature = Feature.find(params[:feature_id])
		tasks = @feature.tasks
		project = @feature.project
	elsif params[:project_id].present?
		@project = Project.find(params[:project_id])
		tasks = @project.tasks
		project = @project		
	end
	
	if params[:user_id].present?
		@user = User.find(params[:user_id])
		tasks ||= Task.all
		tasks = tasks.where(assigned_to: params[:user_id])
	end
	
	if params[:week_of].present?
		date = Date.strptime(params[:week_of], "%m/%d/%y")
		start_date = date.beginning_of_week
		end_date = date.end_of_week + 23.hours + 59.minutes
		tasks = tasks.where("updated_at >=? and updated_at <= ?", start_date, end_date)
	end
	
	tasks = tasks.includes(:user, :project, :feature).order("tasks.project_id, tasks.feature_id, updated_at desc")
%>
<legend>
	Task Board 
	| 
	<%=  project ? (link_to "Project: #{project.name}", project) : "All"  %>
	<%=  link_to " | Sprint: #{@sprint.iteration}", @sprint if @sprint %>
	<%=  link_to " | Feature: #{@feature.summary}", @feature if @feature %>
	<%=  link_to " | User: #{@user.full_name}", @user if @user %>
	|
	<% if params[:week_of].present? %>
		<span style="" class="help_text">
			From <%= display_date(start_date) %> to <%= display_date(end_date) %>
			:
			<%= link_to "See All Tasks", task_board_tasks_path(:project_id=> project.id), 
					:style=>"margin-top: -8px;" %>
		</span>
		|
	<% end %>
	<input type="text" class="filter" placeholder="Filter"  title="Type to filter tasks" style="margin-top: 8px;"/>
	<span class="pull-right">		
		<span style="" class="help_text">
			<%= tasks.other.count %> (<%= Task::TASK_OTHER.to_sentence %>) tasks not shown.
		</span>		
	</span>
	
</legend>


<div id="task_board">
	
	<div class="span4">
		<legend class="center alert-info">Not Started</legend>
		<%= render partial: "/tasks/index", locals: {tasks:tasks.not_started, mini:true, project: project} %>
	</div>
	<div class="span4">
		<legend class="center alert">WIP</legend>
		<%= render partial: "/tasks/index", locals: {tasks:tasks.wip, mini:true, project: project} %>
	</div>
	<div class="span4">
		<legend class="center alert-success">Completed</legend>
		<%= render partial: "/tasks/index", locals: {tasks:tasks.completed, mini:true, project: project} %>
	</div>
</div>
