<%
	if params[:sprint_id].present?
		@sprint = Sprint.find(params[:sprint_id])
		tasks = @sprint.tasks
		project = @sprint.project
	elsif params[:feature_id].present?
		@feature = Feature.find(params[:feature_id])
		tasks = @feature.tasks
		project = @feature.project
	elsif params[:project_id].present?
		@project = Project.find(params[:project_id])
		tasks = @project.tasks
		project = @project
		if params[:user_id].present?
			@user = User.find(params[:user_id])
			tasks = tasks.where(assigned_to: params[:user_id])
		end
	end
%>
<legend>
	Task Board 
	| 
	<%=  link_to "Project: #{@project.name}", @project if @project %>
	<%=  link_to "Sprint: #{@sprint.id}", @sprint if @sprint %>
	<%=  link_to "Feature: #{@feature.summary}", @feature if @feature %>
	<%=  link_to " | User: #{@user.full_name}", @user if @user %>
	|
	<input type="text" class="filter" placeholder="Filter"  title="Type to filter tasks" style="margin-top: 8px;"/>
	<span class="pull-right">		
		<span style="" class="help_text">
			<%= tasks.other.count %> (<%= Task::TASK_OTHER.to_sentence %>) tasks not shown.
		</span>		
	</span>
	
</legend>


<div id="task_board">
	
	<div class="span4">
		<legend class="center alert-info">Not Started</legend>
		<%= render partial: "/tasks/index", locals: {tasks:tasks.not_started, mini:true, project: project} %>
	</div>
	<div class="span4">
		<legend class="center alert">WIP</legend>
		<%= render partial: "/tasks/index", locals: {tasks:tasks.wip, mini:true, project: project} %>
	</div>
	<div class="span4">
		<legend class="center alert-success">Completed</legend>
		<%= render partial: "/tasks/index", locals: {tasks:tasks.completed, mini:true, project: project} %>
	</div>
</div>
