
<div id="container" class="container-small">


<div class="lenderboard-hero">
	<div class="client-logo">
		<% 
			if resource.borrower?
				company = resource.client.lender_company  
		%>
		<img src="<%= company.logo.url %>" />
		<% end %>
		<div class="logos-pull-right"><a href="/"><img src="/assets/LenderBoard_White_Blue_med.png" alt="LenderBoard_Blue_White" width="194" height="45"></a></div>
	</div>
</div>


<hr />


		
		<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
		<%= f.error_notification %>
	
		<%= f.input :reset_password_token, :as => :hidden %>
		<%= f.full_error :reset_password_token %>
	
		<div class="form-inputs form-horizontal form-standard">
	
			<h1>Change your password</h1>
	
			<%= f.input :password, :label => "New password", :required => true, :autofocus => true,			
	      		:input_html=>{:minLength=>8, :pattern=>EMAIL_REGEXP, "data-validation-pattern-message"=>" include at least one number and one letter"},
	      		:hint=>"Please choose a safe password that you can remember" %>
	      		
			<%= f.input :password_confirmation, :label => "Confirm password", :required => true,
				:hint=>"Repeat the password entered above",
	  			:input_html => {"data-validation-matches-match" => "user[password]",
	    		"data-validation-matches-message" => " Must match password above"}%>
		</div>
	
		<div class="form-actions form-standard">
			<div class="action-buttons">	
				<%= f.button :submit, "Change Password", :class=>"btn btn-primary", :id=>"change_password_btn" %>
			</div>
			<div class="pull-right">
				<%= render "devise/shared/links" %>
			</div>
		</div>
		<% end %>
