<div id="burnout_container" style="width:100%; min-height:500px; margin: 0 auto"></div>
<script>
	$(function () {
        $('#burnout_container').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: '<%= title %> : <%= sub_title %>'
            },
            xAxis: {
                categories: <%= (0..days).to_a.collect{|x| "#{display_mini_date(@sprint.start_date + x.days)}"}.to_s.html_safe %>
            },
            yAxis: {
                title: {
                    text: 'Days'
                }
            },
            series: [ {
                name: 'Planned',
                data: <%= (0..days).to_a.reverse %>
            },
            {
                name: 'Remaining Days',
                data: <%= remaining_days %>
            }]
        });
    });
    

</script>
