<div class="navbar">
	<div class="navbar-inner navbar-lb">
		<ul id="sprintTab" class="nav pull-right" >
			
			<li class="<%= active_tab_class(params, 'features_view', true) %>">
				<a id="features_view_tab" href="#features_view"  ajaxurl="/features?sprint_id=<%=@sprint.id%>&layout=none" data-toggle="tab">Features</a>
			</li>

			<li class="<%= active_tab_class(params, 'tasks_view') %>" >
				<a id="tasks_view_tab" href="#tasks_view" ajaxurl="/tasks?sprint_id=<%=@sprint.id%>&layout=none" data-toggle="tab">Tasks</a>
			</li>
			
			<li class="<%= active_tab_class(params, 'burndown_view') %>" >
				<a id="burndown_view_tab" ajaxurl="/sprints/<%=@sprint.id%>/burndown_chart?layout=none" href="#burndown_view"  data-toggle="tab">Burndown</a>
			</li>
			
		</ul>
	</div>
</div>

<div id="sprintTabContent" class="tab-content">

	<div class="tab-pane fade in <%= active_tab_class(params, 'sprints_view') %>" id="sprints_view">
		
	</div>

	<div class="tab-pane fade in <%= active_tab_class(params, 'features_view', true) %>" id="features_view">
		<%= render partial: "/features/index", 
			locals: {features: @sprint.features.includes(:project, :sprint).order("sprints.iteration asc, features.priority asc"), 
				sprint: @sprint, project: @sprint.project} %>
	</div>

	<div class="tab-pane in fade <%= active_tab_class(params, 'tasks_view') %>" id="tasks_view">
		
	</div>
	
	<div class="tab-pane in fade <%= active_tab_class(params, 'burndown_view') %>" id="burndown_view">
		

	</div>

</div>

<input id="currTab" value="<%= params[:tab] %>" class="hidden" />

<script>
	$(function() {
		app.ajaxTabs("#sprintTab");
	}); 
</script>