<div class="">
	<legend>
		<%= @project.name %> : <%= @project.status %>
		<span class="pull-right">
			<%= link_to "Manage Team", project_user_mappings_path(:project_id=>@project.id), :class=>"btn btn-primary"  if can?(:manage, @project) %>
		</span>
	</legend>
	
	<table class="table table-bordered">
			
	<tr>
	  <td>Start date:</td>
	  <td><%= @project.start_date %></td>
	  <td>End date:</td>
	  <td><%= @project.end_date %></td>
	</tr>
	
			
	
		
	</table>
</div>

<%= render partial: "/projects/tabs" %>
