<div class="span7">
<%= simple_form_for(@feature) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-horizontal"">
    <%= f.input :summary %>
    <%= f.input :details %>
    <%= f.input :acceptance_criteria %>
    <%= f.input_field :project_id, :as=>:hidden %>
    <%= f.input :sprint_id, :collection=>@feature.project.sprints.collect{|u| [u.iteration, u.id]} %>
    
    <%= f.input :status, :collection=>Feature::STATUSES %>
    <%= f.input :priority, :collection=>Feature::PRIORITIES %>
    
    <%= f.input :feature_type, :collection=>Feature::TYPES %>
    <%= f.input :points %>
    
    <%= f.input :classification, :collection=>Feature::CLASSIFICATIONS %>
    <%= f.input :assigned_to, :collection=>@feature.project.users.collect{|u| [u.full_name, u.id]} %>
  </div>

  <div class="form-actions">
    <%= f.submit "Save", :class=>"btn btn-primary" %>
  </div>
<% end %>
</div>

<script>
	$(function() {
		points = <%= Feature::TYPE_POINTS.to_s.html_safe %>;
		$("#feature_feature_type").change(function(){
			selIdx = $("#feature_feature_type").prop("selectedIndex");
			app.debug("selIdx = " + selIdx + "points = " + points[selIdx - 1])
			$("#feature_points").val(points[selIdx - 1]);
		});
	});
</script>
