<legend>
	Features / Stories / Use Cases
	<span class="pull-right">
		<%
			mini ||= false
			sprint ||= nil 
			sprint_id = sprint ? sprint.id : nil 
		%>
		
		<% if !mini %>			
			<input type="text" class="filter" placeholder="Filter"  title="Type to filter features" style="margin-top: 8px;"/>
			<%= link_to "New Feature", new_feature_path("feature[project_id]"=> project.id, "feature[sprint_id]"=> sprint_id), :class=>"btn btn-primary"  if project && can?(:manage, project) %>			
			<%= link_to "Feature Board", feature_board_features_path(:project_id=> project.id, :sprint_id=> sprint_id), :class=>"btn btn-success" %>			
		<% end %>
		
	</span>

</legend>

<table class="table row-click table-bordered">
  <thead>
    <tr>
      <th>Summary</th>
      <th>Sprint</th>
      <th>Type</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Points</th>
      <th>Planned hours</th>
      <th>Actual hours</th>      
      <th>Classification</th>
      <th>Assigned to</th>
      <th class="action_col"></th>
    </tr>
  </thead>

  <tbody class="searchable">
    <% features.each do |feature| %>
      <tr>
        <td><%= link_to feature.summary, feature %></td>
        <td><%= link_to feature.sprint.iteration, feature.sprint if feature.sprint %></td>
        <td><%= feature.feature_type %></td>
        <td class="feature_<%= underscore(feature.status) %>"><%= feature.status %></td>
        <td><%= feature.priority %></td>
        <td><%= feature.points %></td>
        <td><%= feature.planned_hours %></td>
		<td><%= feature.actual_hours %></td>
	
        <td><%= feature.classification %></td>
        <td><%= link_to feature.user.full_name, feature.user if feature.user %></td>
        <td class="center">
        	<% if can?(:manage, feature.project) %>
        	<%= link_to 'Edit', edit_feature_path(feature), :class=>"btn btn-mini btn-primary" %>
        	<%= link_to 'Delete', feature, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-mini btn-danger"%>
        	<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
